<?xml version="1.0"?>
<config>
    <modules>
        <Gigya_BackOffice>
            <version>1.0.0</version>
        </Gigya_BackOffice>
    </modules>
    <global>
        <models>
            <gigya_backoffice>
                <class>Gigya_BackOffice_Model</class>
            </gigya_backoffice>
        </models>
        <events>
            <customer_load_after>
                <observers>
                    <Gigya_Backoffice_Model_Observer>
                        <type>singleton</type>
                        <class>Gigya_BackOffice_Model_Observer_Customer</class>
                        <method>refreshFromGigya</method>
                    </Gigya_Backoffice_Model_Observer>
                </observers>
            </customer_load_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <gigya_pre_field_mapping>
                <observers>
                    <gender_convert>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>convertGenderFromGigya</method>
                    </gender_convert>
                </observers>
            </gigya_pre_field_mapping>
        </events>
    </adminhtml>
</config>
